<div id="hd">
    <div id="logo">
        <a href="http://www.busanjeje.com/admin/" target="_self"><img src="http://www.busanjeje.com/admin/img/logo.png" alt="제이앤제이슨"></a>
    </div>

    <nav id="gnb">
        <ul>
            <li><a href="/admin/" target="_self">Request</a></li>
            <li><a href="/admin/user" target="_self">User List</a></li> 
            <li><a href="/admin/setting" target="_self">Setting</a></li>
            <li class="member"><a href="/logout" target="_self">LOGOUT</a></li>
        </ul>
    </nav>
</div>